<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/test}">测试RequestMapping</a><br>
<form th:action="@{/test}" method="post">
    <input type="submit" value="POST提交">
</form>
<a th:href="@{/testParam(username=123)}">testParam</a><br>
<a th:href="@{/testRest/123/root}">testRest</a><br>
<a th:href="@{/testServletAPI(username=123,password=123456)}">HttpServletRequest传参</a><br>
<a th:href="@{/testParam(username='admin',password=123456)}">测试获取请求参数-->/testParam</a><br>

<form th:action="@{/testpojo}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    性别：<input type="radio" name="sex" value="男">男<input type="radio" name="sex" value="女">女<br>
    年龄：<input type="text" name="age"><br>
    邮箱：<input type="text" name="email"><br>
    <input type="submit">
</form>

</body>
</html>